# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
src/main/resources/static/
src/test/
target/classes/application.properties
target/demo-data-neo4j-0.1.0.jar.original
target/generated-sources/
target/maven-archiver/
target/maven-status/
